<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-auth.js"></script>


    <title>Cadastro</title>
</head>
<body>
    <p>Realize seu Cadastro!</p>
    <h2>{{ fim }}</h2>
    <form action="/realizar_cadastro" method="POST">
        <input type="text" name="email" placeholder="Insira seu Email">
        <input type="password" name="senha" placeholçder="Insira sua Senha">

        <input type="submit" value="Cadastrar">
        
    </form>

</body>
</html>