{% extends "base.html" %}

{% block content %}

<title>Cadastro</title>
<div class="container"> 
    <div class="col-sm row shadow p-3 mb-5 bg-white rounded">

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="/">Página Inicial</a>
          </li>
    <li class="nav-item">
      <a class="nav-link active" href="/pag_cad">Realize seu Cadastro</a>
    </li>
    
    
    
  </ul>
            
            <h2>{{ fim }}</h2>
            <form action="/realizar_cadastro" method="POST">
                <div class="form-group">

                    <label for="exampleInputEmail1">Digita seu Email</label><br>
                    <input type="text" name="email" placeholder="Insira seu Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label><br>
                    <input type="password" name="senha" placeholder="Insira sua Senha">
                </div>
                <input type="submit" value="Cadastrar">
                
            </form>
        </div>
    </div>
</div>
{% endblock %}