{% extends "base2.html" %}

{% block content %}
<div class="container">
    <div class="mt-4">
        <table id="prox" class="display table responsive" style="width: 100%;">

        <thead>
            <tr>
                {% for header in results %}
                    <th>
                        {{ header }}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for i in range (0, len(lista_index)) %}
               
                <tr>
                    {% for row in items %}
                        
                        <td>
                            {{ row[lista_index[i]] }}
                        </td>
                        

                    {% endfor %}
                </tr>
               
            {% endfor %}
        </tbody>

        </table>
    </div>

    <!--<form action="/gerargrafico" method="POST">
        <input type="text" name="user_uid" value={{uid}} style="width: 1px;;background-color: white; color:white; text-decoration: none;border:none;"><br>
        <input type="text" name="filename" value={{file_name}} style="width: 1px;;background-color: white; color:white; text-decoration: none;border:none;"><br>
        <input type="submit" class="btn btn-dark" value="Gerar Gráficos">
    </form>-->
    <br><br><br>

</div>
<script type="text/javascript">
    $('#prox').DataTable( {
        "order": [[ 4, "desc" ]],
        "fnRowCallback": function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {
            if (aData[4] == "True") {
            $('td', nRow).css('background-color', 'Green');
            $('td', nRow).css('color', 'White');

            } else{
            $('td', nRow).css('background-color', 'White');
        }
    }
    } );
</script>
{% endblock %}