{% extends "base.html" %}

{% block content %}
<title>Upload new File</title>

<div class="container">
    <nav class="nav">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/">Página Inicial</a>
              </li>
        <li class="nav-item">
          <a class="nav-link active" href="/user_logged">Envie Arquivos</a>
        </li>
        
      </nav>
<br>
<h4 id="email"></h4>

<h1>Faça Upload de um arquivo: Xlsx ou Csv</h1>
<br>
<form action="/upload" method=post enctype=multipart/form-data>
    <input class="form-control form-control-lg" type=file name=file><br>
    <input class="btn btn-outline-dark" type=submit value=Enviar><br>
    <input id="user_id" name="user_id" type="text" readonly style="width: 10px;;background-color: white; color:white; text-decoration: none;border:none;">
</form>
<h2>{{ fim }}</h2>
<hr>
<br>
<a href="/visualizar"><button type="button" class="btn btn-outline-dark">Visualize seus envios</button></a>

</div>

  
</div>


<script src="/static/js/user_logged.js"></script>
{% endblock %}